*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: rgb(255, 253, 253); /* white, #FFFFFF */
	padding: 2em;
	margin: 0;
	font-family: "Jost", sans-serif;
	color: rgb(0, 0, 0);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "slnt" 0;
}

p {
	margin: 0 0 1em 0;
	max-width: 30em;
}

h1 {
	margin: 0;
	font-size: 3em;
 color: rgb(255, 0, 0);
}

h4 {
	margin: 0;
	margin-bottom: 1em;
	color: rgb(0, 0, 0);
}

iframe {
	margin: 0;
	display: block;
	border: none;
	width: 100%;
}

header,
section {
	margin-bottom: 2em;
	padding-top: 0.25em;
}

.filetto {
	border-top: solid 2px rgb(255, 0, 0);
}

.titolo-sezione {
	margin-right: 1em;
}

.contenitore {
	/* max-width: 54em; */
}

ul {
	margin: 0;
	padding: 0;
}

/* -- breakpoint: schermi piccoli, larghezza massima 500 pixel -- */

@media only screen and (max-width: 600px) {
	.contenitore {
		width:100%;
	}
	.contenuto-sezione {
		width: 100%;
	}
	.titolo-sezione {
		width: 100%;
	}
	img {
		width: 100%;
	}
}